<!doctype html>
<html>
  <head>
    <title><%= title %></title>
    <meta charset="utf-8" />
  </head>
  <body>
    <div id="example"></div>
    <div id="main" style="width: 900px;height:500px;margin:auto;"></div>
    <!-- Dependencies -->
    <script src="/public/lib/react.js"></script>
    <script src="/public/lib/react-dom.js"></script>

    <script src="/public/build/bundle.js"></script>
  </body>
</html>
